@model ConferenceHallVM

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Create</h1>

    <h4 class="text-decoration-underline">Master Conferenece Hall</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="HallNameEn" class="control-label"></label>
                    <input asp-for="HallNameEn" class="form-control" />
                    <span asp-validation-for="HallNameEn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HallNameHi" class="control-label"></label>
                    <input asp-for="HallNameHi" class="form-control" />
                    <span asp-validation-for="HallNameHi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Floor" class="control-label"></label>
                    <input asp-for="Floor" class="form-control" />
                    <span asp-validation-for="Floor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Capacity" class="control-label"></label>
                    <input asp-for="Capacity" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegionId" class="control-label"></label>
                    <input asp-for="RegionId" class="form-control" />
                    <span asp-validation-for="RegionId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LocationId" class="control-label"></label>
                    <input asp-for="LocationId" class="form-control" />
                    <span asp-validation-for="LocationId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-check">
                    <label asp-for="IsApprovalRequired" class="form-check-labe"></label>
                    <input type="checkbox" class="form-check-input" asp-for="IsApprovalRequired" />
                </div>
                <br />
                <div class="form-group">
                    <button class="btn btn-success"><i class="bi bi-floppy"></i>&nbsp;Save</button> |
                    <a class="btn btn-secondary" asp-action="Index"><i class="bi bi-list"></i>&nbsp;Back to List</a>
                </div>
            </form>
        </div>
    </div>
    <br />
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

